*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 60px;
    color: white;
    padding-top: 20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: transparent;
}
.nav-links{
    width: 98%;
    display: flex;
    gap: 1em;
    padding: 0 20px;
    justify-content: end;
    font-weight: bold;
    padding-top: 20px;
}
.nav-links a{
    padding: 7px 18px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
}
.nav-links a:hover{
    background-color: white;
    color: black;
    
}
.presentation-page{
    height: 100vh;
    background: hsla(198, 43%, 11%, 0.774);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(197, 38%, 28%, 0.711), hsla(194, 35%, 19%, 0.702), hsla(198, 44%, 11%, 0.767));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(197, 38%, 28%, 0.715), hsla(194, 35%, 19%, 0.713), hsla(198, 43%, 11%, 0.712)), url('./img/marvin-meyer-SYTO3xs06fU-unsplash.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-size: cover;
}
.presentation-text{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 120px 200px;
    align-items: center;
}
.presentation-text h1{
    font-family: 'Croissant One', cursive;
    font-weight: 900;
    font-size: 65px;

}
.presentation-page p{
    font: 500;
    margin-bottom: 1.5em;
}
.initial_btn{
    padding: 7px 18px;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}
.initial_btn_link{
    color: #fff;
}
.initial_btn_link:hover{
    color: #000;
}
.initial_btn:hover{
    background-color: white;
    color: black;
}

.middle_page{
    height:100vh;
    padding-right: 40px;
    background-color: #f4f4f4;
}
.carousel-item img{
    z-index: 1;
    margin: 7px -11px;
    height: 85vh;
    min-width: 45vw;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-inner{
    padding: 1rem;
}
.carousel-text{
    padding: 168px 50px;
}
.carousel-text h2{
    font-family: 'Croissant One', cursive;
    font-weight: 800;
    font-size: 55px;
}
.carousel-text a{
    padding: 7px 18px;
    border-radius: 20px;
    border: 2px solid #000;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
.carousel-text a:hover{
    background-color: black;
    color: white;
}
.carousel-text p{
    margin-bottom: 2rem;
}
.creators{
    height: 90vh;
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
    margin: -20px 0;
    
}
.creators img{
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.creators h2{
    text-align: center;
    margin-bottom: 5px;
}
.creators-title{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-family: 'Croissant One', cursive;
    font-size: 50px;
    font-weight: 600;
    border-bottom: 3px solid #000;
    color: #000;
}
.creators a{
    color: #000;
    text-shadow: 3px 3px 3px rgb(187, 187, 187);
}
.body-creators{
    background-color: #a0bfe0;
}
.creators h3{
    text-align: center;
    color: #000;
}
footer{
    height: 40vh;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    color: #fff;
}
.oficial-universitie-pages{
    list-style: none;
    color: #fff;
}
footer h3{
    padding-top: -25px;
    color: #fff;
}
footer h2{
    font-family: 'Croissant One', cursive;
    margin-bottom: 156px;
    border-bottom: 3px solid white;
}
footer a{
    color: white;
}